<div class="l-flex">
  <%= form_with(model: result ,url: results_path , local: true) do |f| %>
  <div class="l-flex">
    <% player_cards.each_with_index do |card, num| %>
    <div class="image-box">
      <%= image_tag "#{card.type}/#{card.id}.png", {id: "card-#{num + 1}",class: "image-size",size: "100x150" }%>
      <div class="hold-text display-none" id=<%="card-#{num + 1}-text-hold"%>>Hold</div>
      <%= f.check_box "card#{num+1}".to_sym,{class: "display-none",id:"card-#{num + 1}-checkbox"},"#{card}","1#{card}"%>
    </div>
    <%= f.hidden_field :is_hold, { id:"card-#{num + 1}-is-hold" ,value: card.is_hold} %>
    <% end %>
  </div>
  <div class="l-text-center">
    <%= f.submit '勝負する！', class: 'button button-secondary' %>
  </div>
  <% end %>
</div>