<div class="l-center">
  <%= render 'results/partial/result',{victory: @game.victory} %>
  <%= render 'results/partial/player',{cards: @game.user_hands,rank:@game.user_rank} %>
  <%= render 'results/partial/other',{cards: @game.cpu_hands,rank:@game.cpu_rank} %>
  <div class="TB-micro-padding">
  </div>
  <div class="l-flex">
    <%= link_to 'retry', root_path,class: 'button button-secondary' %>
    <div class="LR-micro-padding"></div>
    <%= link_to 'to user_page',current_user,class: 'button button-primary' %>
  </div>
</div>