<div>
  <%= @result.victory == 0 ? "負け" : @result.victory > 9 ? "引き分け" : "勝ち" %>
  です。
</div>
<div id="game-result-text"><%= @result.victory %></div>

<% cards = get_cards_number(@result) %>
<div>あなたのカード</div>
<div class="l-flex">
  <% cards.each do |card| %>
  <% card = exchange_number_to_path(card) %>
  <%= image_tag card, size: "100x150" %>
  <% end %>
</div>
<div>相手のカード</div>
<div class="l-flex">
  <% @cards.each do |card| %>
  <% card = exchange_number_to_path(card) %>
  <%= image_tag card, size: "100x150" %>
  <% end %>
</div>

<%= javascript_pack_tag 'result/index' %>