<!DOCTYPE html>
<html>

<head>
  <title>simplePoker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>

  <!-- font-awesome -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- googlefont -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic"
    rel="stylesheet">
  <meta name="google-site-verification" content="xp6H7IWI1I6ayxbxHgkKtiaiKNLNPBCBr5uSI70RqkM" />
</head>

<body>
  <%= render "layouts/header",{title:"simplePoker"} %>
  <%= render 'layouts/flash' %>
  <div class="TB-middle-padding"></div>
  <%= yield %>

</body>

</html>
